Lukas Eberhart <lukaseb@edu.aau.at> Anonymoushacker0815 <eelukasee@gmail.com>
Lukas Eberhart <lukaseb@edu.aau.at> <106514343+Anonymoushacker0815@users.noreply.github.com>

Bastian Schröder-Possmann <bastiansc@edu.aau.at> bastians99-K9 <bastian.schroeder99@gmail.com>
Bastian Schröder-Possmann <bastiansc@edu.aau.at> Bastian Schroeder <bastian.schroeder99@gmail.com>

Sebastian Maier <sebmaier@edu.aau.at> sebmaier22 <sebmaier@edu.aau.at>

Christian Scharf <chscharf@edu.aau.at> Chris <christian.scharf.work@gmail.com>
Christian Scharf <chscharf@edu.aau.at> <117298466+ChrisWorkGit@users.noreply.github.com>