Lukas Eberhart <lukas@aau.at> <anonymoushacker0815@users.noreply.github.com>
Bastian <bastian@aau.at> <bastians99-K9@users.noreply.github.com>
Christian <christian@aau.at> <ChrisWorkGit@users.noreply.github.com>
dupetric <dupetric@aau.at> <dupetric@users.noreply.github.com>
Sebastian Maier <sebastian@aau.at> <sebmaier22@users.noreply.github.com>